.titled-pane {
    -fx-effect: dropshadow(three-pass-box, #9F9F9F, 5, 0, 5, 0);
    -fx-animated: true;
    -fx-text-fill: #ffffff;
}

.titled-pane > .title  {
    -fx-background-radius: 0, 0, 0;
    -fx-font: normal 12px System;

    /* stop the background from being blue on focus */
    -fx-background-color: #2E303E;
}

.topButton {
    -fx-background-color: #2E303E;
    -fx-text-fill: #ffffff;
}

#calc-button {
    -fx-background-color: #2E303E;
    -fx-text-fill: #ffffff;

}
